    [.api-note]
        공통 에러 코드는 link:#common-error-codes[공통 에러 코드]를 참고해 주세요.

        [cols="20%,35%,45%",options="header"]
        |===
        |HTTP Status|Code|설명

    {{#fields}}
        |{{#tableCellContent}}`+{{httpStatus}}+`{{/tableCellContent}}
        |{{#tableCellContent}}`+{{code}}+`{{/tableCellContent}}
        |{{#tableCellContent}}{{description}}{{/tableCellContent}}

    {{/fields}}
        |===
