    [.api-table]
        [cols="20%,16%,14%,36%,14%",options="header"]
        |===
        |Path|Type|Mandatory|Description|Etc

    {{#fields}}
        |{{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
        |{{#tableCellContent}}`+{{type}}+`{{/tableCellContent}}
        |{{#tableCellContent}}{{#optional}}false{{/optional}}{{^optional}}`true`{{/optional}}{{/tableCellContent}}
        |{{#tableCellContent}}{{description}}{{/tableCellContent}}
        |{{#tableCellContent}}{{#remarks}}{{remarks}}{{/remarks}}{{/tableCellContent}}

    {{/fields}}

        |===
