NOTE: 공통 에러 코드는 link:#common-error-codes[공통 에러 코드]를 참고해 주세요.

[cols="3%,10%,50%,70%"]
|===
|HTTP Status|Code|TypeMessage|설명

{{#fields}}
|{{#tableCellContent}}`+{{httpStatus}}+`{{/tableCellContent}}
|{{#tableCellContent}}`+{{code}}+`{{/tableCellContent}}
|{{#tableCellContent}}`+{{name}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}

{{/fields}}
|===
