[.api-note]
공통 에러 코드는 link:#common-error-codes[공통 에러 코드]를 참고해 주세요.

[.api-table]
[cols="16%,22%,24%,38%", options="header"]
|===
|HTTP Status|Code|TypeMessage|설명

{{#fields}}
|{{#tableCellContent}}`+{{httpStatus}}+`{{/tableCellContent}}
|{{#tableCellContent}}`+{{code}}+`{{/tableCellContent}}
|{{#tableCellContent}}`+{{name}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}

{{/fields}}
|===
